* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  color: #ffffff;
  line-height: 1.6;
  font-size: 1.5rem;
  height: 100vh;
}

button {
  display: inline-block;
  outline: none;
  border: none;
  padding: 1em 2em;
  cursor: pointer;
}

.timer__area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 1em;
}

.btn__area {
  display: flex;
  gap: 0.5em;
}
